@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6F826A;
}

i {
    font-weight: bold;
}

.container {
    position: absolute;
    height: 20rem;
    width: 78rem;
}

header {
    font-family: "Playfair Display", serif;
}

header img {
    width: 95rem;
}

header .textheader {
    position: relative;
    top: -52rem;
    font-size: xx-large;
    text-align: center;
    left: 9rem;
    color: #F0F1C5;
}

header .textheader h1 {
    height: 10rem;
    font-size: 150px;
    stroke: #BF9264;
    -webkit-text-stroke: 3px #BF9264;
}

header .textheader h3 {
    position: relative;
    top: 28rem;
    -webkit-text-stroke: 1px #BF9264;
}



.artikel {
    width: auto;
}

.artikel .ingpo {
    height: auto;
    margin-left: 30px;
    width: 60rem;
    font-size: x-large;
    color: white;
    font-family: "Playfair Display", serif;
}

.artikel .ingpo h3 {
    font-family: "Inter", sans-serif;
}

.artikel .imgs {
    position: relative;
    left: 65rem;
    top: -10rem;
    width: 0;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin: 6.25em 0;
    margin-left: 5rem;
}

.ytframe {
    width: 95rem;
    align-items: center;
}

.ytframe h1 {
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.ytframe h2 {
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    margin-top: 20px;
}

.ytframe iframe {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

.galerry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px;
    background-color: #d8dcbb;
    margin-left: 18em;
}

.card {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card p {
    color: black;
    font-weight: bold;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #6d7d65;
    color: white;
    font-size: 16px;
    margin-left: 18em;
}